# Build and simulation artifacts
/db/
/incremental_db/
/output_files/
/sim_build/
*.sof
*.pof
*.jdi
*.pin
*.done
*.qws
*.rpt
*.summary
*.qmsg
*.rdb
*.hdb
*.cdb
*.logdb
*.mif

# Python / Simulation
__pycache__/
*.pyc
.venv/
env/
results.xml

# OS generated
.DS_Store

# Logs
*.dump
*.log

# Python/Pytest
.pytest_cache/

# HDL Checker
.hdl_checker/

# Quartus/Altera specific text dumps
c5_pin_model_dump.txt


# RISC-V Compiled Executables
*.elf
*.bin
